.contact {
  padding: 4rem 2rem;
  background-color: var(--secondary-dark);
  color: var(--text-dark);
}

body.light .contact {
  background-color: var(--secondary-light);
  color: var(--text-light);
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: var(--primary-dark);
}

body.light .contact h2 {
  color: var(--primary-light);
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 900px;
  margin: 0 auto;
}

.contactInfo {
  text-align: center;
}

.contactInfo p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.socialLinks a {
  color: var(--primary-dark);
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

body.light .socialLinks a {
  color: var(--primary-light);
}

.socialLinks a:hover {
  color: var(--primary-dark);
}

body.light .socialLinks a:hover {
  color: var(--primary-light);
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.contactForm input,
.contactForm textarea {
  background-color: var(--secondary-dark);
  border: 1px solid var(--accent-dark);
  border-radius: 5px;
  padding: 0.8rem;
  color: var(--text-dark);
  font-size: 1rem;
}

body.light .contactForm input,
body.light .contactForm textarea {
  background-color: var(--secondary-light);
  border: 1px solid var(--accent-light);
  color: var(--text-light);
}

.contactForm button {
  background-color: var(--accent-dark);
  color: var(--text-light);
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

body.light .contactForm button {
  background-color: var(--accent-light);
  color: var(--text-dark);
}

.contactForm button:hover {
  background-color: var(--accent-dark);
}

body.light .contactForm button:hover {
  background-color: var(--accent-light);
}

.socialLinksBox {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1.5rem;
  background-color: var(--secondary-dark);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body.light .socialLinksBox {
  background-color: var(--secondary-light);
}

.socialButton {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  /*background-color: var(--primary-dark);*/
  color: var(--text-dark); /* Change text color to dark blue */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

body.light .socialButton {
  background-color: var(--primary-light);
  color: var(--text-light);
}

.socialButton:hover {
  /*background-color: var(--accent-dark);*/
}

body.light .socialButton:hover {
  background-color: var(--accent-light);
}
