.contact {
  padding: 4rem 2rem;
  background-color: #0A192F;
  color: #CCD6F6;
}

.contact h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2rem;
  color: #64FFDA;
}

.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  max-width: 900px;
  margin: 0 auto;
}

.contactInfo {
  text-align: center;
}

.contactInfo p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.socialLinks a {
  color: #64FFDA;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.socialLinks a:hover {
  color: #CCD6F6;
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 500px;
}

.contactForm input,
.contactForm textarea {
  background-color: #112240;
  border: 1px solid #8892B0;
  border-radius: 5px;
  padding: 0.8rem;
  color: #CCD6F6;
  font-size: 1rem;
}

.contactForm button {
  background-color: #64FFDA;
  color: #0A192F;
  border: none;
  padding: 0.8rem;
  border-radius: 5px;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.contactForm button:hover {
  background-color: #52d8b6;
}

.socialLinksBox {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  padding: 1.5rem;
  /*background-color: #112240;*/
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.socialButton {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  /*background-color: #64FFDA;*/
  color: #0A192F; /* Change text color to dark blue */
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.socialButton:hover {
  background-color: #52D1B6;
}
