.education {
  padding: 4rem 2rem;
  background-color: var(--background-dark);
  color: var(--text-dark);
}

body.light .education {
  background-color: var(--background-light);
  color: var(--text-light);
}

.education h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3rem;
  color: var(--primary-dark);
}

body.light .education h2 {
  color: var(--primary-light);
}

.timeline {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 4px;
  background-color: var(--secondary-dark);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -2px;
}

body.light .timeline::after {
  background-color: var(--secondary-light);
}

.timelineItem {
  padding: 1rem 0;
  position: relative;
  width: 50%;
}

.timelineItem:nth-child(odd) {
  left: 0;
}

.timelineItem:nth-child(even) {
  left: 50%;
}

.timelineContent {
  padding: 1.5rem;
  background-color: var(--secondary-dark);
  border-radius: 10px;
  position: relative;
}

body.light .timelineContent {
  background-color: var(--secondary-light);
}

.timelineContent h3 {
  font-size: 1.3rem;
  color: var(--primary-dark);
}

body.light .timelineContent h3 {
  color: var(--primary-light);
}

.timelineContent h4 {
  font-size: 1.1rem;
  color: var(--text-dark);
  margin: 0.5rem 0;
}

body.light .timelineContent h4 {
  color: var(--text-light);
}

.timelineContent p {
  font-size: 1rem;
  color: var(--text-dark);
  opacity: 0.8;
}

body.light .timelineContent p {
  color: var(--text-light);
  opacity: 0.7;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .timeline::after {
    left: 0rem; /* Move the timeline to the left */
  }

  .timelineItem {
    width: 100%;
    padding-left: 0rem; /* Add padding to the left of the items */
    padding-right: 2.5rem;
    left: 0;
  }

  .timelineItem:nth-child(odd),
  .timelineItem:nth-child(even) {
    left: 0;
    padding-left: 0rem; /* Add padding to the left of the items */
    padding-right: 2.5rem;
    text-align: left;
  }
}
