.header {
  width: 100%;
  padding: 1rem 2rem;
  background-color: var(--secondary-dark);
  text-align: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

body.light .header {
  background-color: var(--secondary-light);
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.header nav ul li a {
  text-decoration: none;
  color: var(--text-dark);
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

body.light .header nav ul li a {
  color: var(--text-light);
}

.header nav ul li a:hover {
  color: var(--primary-dark);
}

body.light .header nav ul li a:hover {
  color: var(--primary-light);
}

@media (max-width: 480px) {
  .header {
    padding: 0.2rem;
  }
  .header nav ul {
      gap: 1rem;
  }
  .header nav ul li a {
    font-size: 0.6rem;
  }
}

.resumeButton {
  justify-content: end;
  background-color: var(--primary-dark);
  color: var(--background-dark);
  padding: 0.2rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

body.light .resumeButton {
  background-color: var(--primary-light);
  color: var(--background-light);
}

.resumeButton:hover {
  background-color: var(--accent-dark);
}

body.light .resumeButton:hover {
  background-color: var(--accent-light);
}

.themeToggleButton {
  background: none;
  border: 1px solid var(--primary-dark);
  color: var(--primary-dark);
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

body.light .themeToggleButton {
  border: 1px solid var(--primary-light);
  color: var(--primary-light);
}

.themeToggleButton:hover {
  background-color: var(--primary-dark);
  color: var(--background-dark);
}

body.light .themeToggleButton:hover {
  background-color: var(--primary-light);
  color: var(--background-light);
}
